#perspective {
  top: 70px;
  left: 150px;
  width: 1200px;
  height: 600px;
  position: relative;
  perspective: 600px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  border: none;
  font-family: "Lato", sans-serif;
}

#perspective .menu {
  position: relative;
  top: -50px;
  left: 570px;
}

#room {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 50% 50% 600px;
  -webkit-transform-origin: 50% 50% 600px;
  -moz-transform-origin: 50% 50% 600px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -mox-transition: all 0.4s linear;
}

#room .room-one,
.room-two,
.room-three,
.room-four,
.room-five,
.room-six,
.room-seven,
.room-eight {
  width: 1200px;
  height: 600px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -mox-transition: all 0.6s ease;
}

/* transform & inverse */
#room .room-one,
.room-five {
  transform: rotateY(0deg) translateZ(0px);
  -webkit-transform: rotateY(0deg) translateZ(0px);
  -moz-transform: rotateY(0deg) translateZ(0px);
}

#room .room-two,
.room-six {
  transform: rotateY(-90deg) translateZ(-600px) translateX(600px);
  -webkit-transform: rotateY(-90deg) translateZ(-600px) translateX(600px);
  -moz-transform: rotateY(-90deg) translateZ(-600px) translateX(600px);
}

#room .room-three,
.room-seven {
  transform: rotateY(180deg) translateZ(-1200px);
  -webkit-transform: rotateY(180deg) translateZ(-1200px);
  -moz-transform: rotateY(180deg) translateZ(-1200px);
}

#room .room-four,
.room-eight {
  transform: rotateY(90deg) translateZ(-600px) translateX(-600px);
  -webkit-transform: rotateY(90deg) translateZ(-600px) translateX(-600px);
  -moz-transform: rotateY(90deg) translateZ(-600px) translateX(-600px);
}

#room .room-top {
  transform: rotateX(90deg) translateZ(300px) translateY(600px);
  -webkit-transform: rotateX(90deg) translateZ(300px) translateY(600px);
  -moz-transform: rotateX(90deg) translateZ(300px) translateY(600px);
  width: 1200px;
  height: 1200px;
  top: -300px;
  background-image: url(images/tinified/space.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#room .room-bottom {
  transform: rotateX(90deg) translateZ(-300px) translateY(600px);
  -webkit-transform: rotateX(90deg) translateZ(-300px) translateY(600px);
  -moz-transform: rotateX(90deg) translateZ(-300px) translateY(600px);
  width: 1200px;
  height: 1200px;
  top: -300px;
  background-image: url(images/tinified/woodfloor.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#room .inactive {
  opacity: 0;
  visibility: hidden;
}

#room figure {
  margin: 0;
  display: block;
  position: absolute;
  border-top: none;
  text-align: center;
  background-image: url(images/tinified/brickwall.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#room .nums {
  position: relative;
  display: inline-block;
  top: -310px;
  left: -560px;
  font-size: 150px;
  color: white;
}

#room div {
  width: 700px;
  height: 500px;
  display: inline-block;
  position: relative;
  top: 50px;
  left: 90px;
}

.room-one div {
  background-image: url(images/tinified/surfin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-two div {
  background-image: url(images/calendar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-three div {
  background-image: url(images/tinified/casacaliente.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-four div {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*styling for additional four walls*/
/*.room-five div {
  background-image: url(images/breakout.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.room-six div {
  background-image: url(images/);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-seven div {
  background-image: url(images/rgbagame.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room-eight div {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

#room .caption {
  color: #ffffff;
  position: absolute;
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.8));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.8));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.8));
  text-align: justify;
  bottom: 0;
  padding: 10px;
  line-height: 40px;
  margin: 0;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  height: 40px;
  width: 680px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -webkit-transition: height .5s;
}

.caption small {
  text-transform: none;
}
.caption small.inactive{
  display: none;
}

.caption .more-info {
  float: right;
  margin: 15px 4px 4px 4px;
  font-size: 12px;
}

#room .caption-full {
  height: 280px;
  line-height: 35px;
}

.view {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 10px 20px 10px 20px;
  position: absolute;
  bottom: 20px;
  left: 310px;
  border-radius: 35px;
}

.view:hover {
  background-color: rgba(240,240,240, 1);
  color: rgba(0,0,0,1);
}

.menu .fa-circle,
.fa-circle-thin {
  color: white;
}

.arrows button {
  height: 140px;
  width: 60px;
  font-size: 40px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  position: relative;
  z-index: 1;
  border: none;
  top: 200px;
  left: 90px;
}

.arrows .next {
  left: 990px;
}

.arrows button:hover {
  background-color: rgba(0,0,0,0.8);
}

.arrows button:focus {
  outline: none;
}

.flip-alert,
.sorry-alert {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;
  padding: 20px;
  text-transform: uppercase;
}

@media screen and (orientation:portrait){
  #perspective {
    display: none;
  }

  body {
    background-color: black;
  }

  .flip-alert {
    display: block;
    margin: 15% auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 560px){
  #perspective {
    display: none;
  }

  body {
    background-color: black;
  }

  .sorry-alert {
    display: block;
    margin: 15% auto;
  }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
  #perspective {
    display: none;
  }

  body {
    background-color: black;
  }

  .sorry-alert {
    display: block;
    margin: 15% auto;
  }

}
