
body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  margin: 0;
}

.about {
  width: 50%;
  font-family: "Lato", sans-serif;
  display: inline;
  float: right;
  margin: 250px auto;
}

.about h1 {
  font-weight: normal;
  font-size: 40px;
  margin: 0 auto;
  width: 560px;
}

.about img {
  position: relative;
  top: 5px;
  width: 37px;
  height: 40px;
}

.about-content-one {
  width: 525px;
  font-size: 20px;
  text-align: justify;
  font-family: "Lato", sans-serif;
  padding: 0px;
  margin: 20px auto;
}

.about-content-two {
  width: 50%;
  font-size: 20px;
  text-align: justify;
  font-family: "Lato", sans-serif;
  padding: 0px;
  margin: 200px auto;
  display: inline;
  float: left;
}

.about-content-two p {
  width: 525px;
  margin: 20px auto;
}

.humid-photo {
  width: 50%;
  height: 1000px;
}

.adam-photo {
  width: 50%;
  height: 750px;
  display: inline;
  position: relative;
  top: -3px;
}

.resume,
.back-portfolio {
  border: 1px solid black;
  border-radius: 35px;
  padding: 15px 15px 17px 15px;
  font-size: 20px;
  width: 100px;
  height: 20px;
  text-decoration: none;
  color: black;
  position: relative;
  left: 50px;
  top: 50px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}

.resume:hover,
.back-portfolio:hover {
  background-color: black;
  color: white;
}

.back-portfolio {
  left: 100px;
}

@media (max-width: 750px){

  .about {
    float: none;
    position: relative;
    top: 50px;
  }

  .about-content-two {
    margin: 0 auto;
    margin-bottom: 120px;
  }

  .about-content-two p,
  .about-content-one p {
    margin-top: 0;
  }

  .adam {
    width: 700px;
  }

}
